<script setup lang="ts">
import axios from 'axios'
import { computed, ref } from 'vue'

const errorMessage = ref<string>()
const resMessage = ref<string>()
const carData = ref({
  Model: -1,
  YearOfReg: 0,
  GearBox: -1,
  PowerPs: 0,
  FuelType: -1,
  Brand: -1
})

const predictVehicleType = async () => {
  try {
    const response = await axios.post('http://localhost:8000/UsedCars/', carData.value)
    console.log('Predicted vehicle type: ', response.data)
    errorMessage.value = ''

    resMessage.value = response.data
  } catch (error) {
    console.error('Error predicting vehicle type:', error)
  }
}

</script>

<template>
 <v-container fluid class="fullscreen-container">
    <div class="container">
      <h1 class="title" style="color: #a52204">Vehicle Type Prediction</h1>
      <div class="form">
        <div class="form-group">
          
          <div class="form-group">
          <label for="width">Brand:</label>
          <select id="brand" v-model="carData.Brand" required>
            <option value="-1">Choose Brand</option>
    <option value="0">Alfa Romeo</option>
    <option value="1">Audi</option>
    <option value="2">BMW</option>
    <option value="3">Chevrolet</option>
    <option value="4">Chrysler</option>
    <option value="5">Citroen</option>
    <option value="6">Dacia</option>
    <option value="7">Daewoo</option>
    <option value="8">Daihatsu</option>
    <option value="9">Fiat</option>
    <option value="10">Ford</option>
    <option value="11">Honda</option>
    <option value="12">Hyundai</option>
    <option value="13">Jaguar</option>
    <option value="14">Jeep</option>
    <option value="15">Kia</option>
    <option value="16">Lada</option>
    <option value="17">Lancia</option>
    <option value="18">Land Rover</option>
    <option value="19">Mazda</option>
    <option value="20">Mercedes Benz</option>
    <option value="21">Mini</option>
    <option value="22">Mitsubishi</option>
    <option value="23">Nissan</option>
    <option value="24">Opel</option>
    <option value="25">Peugeot</option>
    <option value="26">Porsche</option>
    <option value="27">Renault</option>
    <option value="28">Rover</option>
    <option value="29">Saab</option>
    <option value="30">Seat</option>
    <option value="31">Skoda</option>
    <option value="32">Smart</option>
    <option value="33">Subaru</option>
    <option value="34">Suzuki</option>
    <option value="35">Toyota</option>
    <option value="36">Trabant</option>
    <option value="37">Volkswagen</option>
    <option value="38">Volvo</option>
  </select>
        </div>
          <label for="model">Model:</label>
          <select id="models" v-model="carData.Model">
            <option value="-1">Choose Model</option>
            <option value="0">100</option>
            <option value="1">147</option>
            <option value="2">156</option>
            <option value="3">159</option>
            <option value="4">1_reihe</option>
            <option value="5">1er</option>
            <option value="6">2_reihe</option>
            <option value="7">300c</option>
            <option value="8">3_reihe</option>
            <option value="9">3er</option>
            <option value="10">4_reihe</option>
            <option value="11">500</option>
            <option value="12">5_reihe</option>
            <option value="13">5er</option>
            <option value="14">601</option>
            <option value="15">6_reihe</option>
            <option value="16">6er</option>
            <option value="17">7er</option>
            <option value="18">80</option>
            <option value="19">850</option>
            <option value="20">900</option>
            <option value="21">9000</option>
            <option value="22">911</option>
            <option value="23">a1</option>
            <option value="24">a2</option>
            <option value="25">a3</option>
            <option value="26">a4</option>
            <option value="27">a5</option>
            <option value="28">a6</option>
            <option value="29">a8</option>
            <option value="30">a_klasse</option>
            <option value="31">accord</option>
            <option value="32">agila</option>
            <option value="33">alhambra</option>
            <option value="34">almera</option>
            <option value="35">altea</option>
            <option value="36">amarok</option>
            <option value="37">andere</option>
            <option value="38">antara</option>
            <option value="39">arosa</option>
            <option value="40">astra</option>
            <option value="41">auris</option>
            <option value="42">avensis</option>
            <option value="43">aveo</option>
            <option value="44">aygo</option>
            <option value="45">b_klasse</option>
            <option value="46">beetle</option>
            <option value="47">berlingo</option>
            <option value="48">bora</option>
            <option value="49">boxster</option>
            <option value="50">bravo</option>
            <option value="51">c1</option>
            <option value="52">c2</option>
            <option value="53">c3</option>
            <option value="54">c4</option>
            <option value="55">c5</option>
            <option value="56">c_klasse</option>
            <option value="57">c_max</option>
            <option value="58">c_reihe</option>
            <option value="59">caddy</option>
            <option value="60">calibra</option>
            <option value="61">captiva</option>
            <option value="62">carisma</option>
            <option value="63">carnival</option>
            <option value="64">cayenne</option>
            <option value="65">cc</option>
            <option value="66">ceed</option>
            <option value="67">cherokee</option>
            <option value="68">citigo</option>
            <option value="69">civic</option>
            <option value="70">cl</option>
            <option value="71">clio</option>
            <option value="72">clk</option>
            <option value="73">clubman</option>
            <option value="74">colt</option>
            <option value="75">combo</option>
            <option value="76">cooper</option>
            <option value="77">cordoba</option>
            <option value="78">corolla</option>
            <option value="79">corsa</option>
            <option value="80">cr_reihe</option>
            <option value="81">crossfire</option>
            <option value="82">cuore</option>
            <option value="83">cx_reihe</option>
            <option value="84">defender</option>
            <option value="85">discovery</option>
            <option value="86">doblo</option>
            <option value="87">ducato</option>
            <option value="88">duster</option>
            <option value="89">e_klasse</option>
            <option value="90">eos</option>
            <option value="91">escort</option>
            <option value="92">espace</option>
            <option value="93">exeo</option>
            <option value="94">fabia</option>
            <option value="95">fiesta</option>
            <option value="96">focus</option>
            <option value="97">forester</option>
            <option value="98">forfour</option>
            <option value="99">fortwo</option>
            <option value="100">fox</option>
            <option value="101">freelander</option>
            <option value="102">fusion</option>
            <option value="103">g_klasse</option>
            <option value="104">galant</option>
            <option value="105">galaxy</option>
            <option value="106">getz</option>
            <option value="107">glk</option>
            <option value="108">golf</option>
            <option value="109">grand</option>
            <option value="110">i_reihe</option>
            <option value="111">ibiza</option>
            <option value="112">impreza</option>
            <option value="113">insignia</option>
            <option value="114">jazz</option>
            <option value="115">jetta</option>
            <option value="116">jimny</option>
            <option value="117">juke</option>
            <option value="118">justy</option>
            <option value="119">ka</option>
            <option value="120">kadett</option>
            <option value="121">kaefer</option>
            <option value="122">kalina</option>
            <option value="123">kalos</option>
            <option value="124">kangoo</option>
            <option value="125">kuga</option>
            <option value="126">laguna</option>
            <option value="127">lancer</option>
            <option value="128">legacy</option>
            <option value="129">leon</option>
            <option value="130">logan</option>
            <option value="131">lupo</option>
            <option value="132">lybra</option>
            <option value="133">m_klasse</option>
            <option value="134">m_reihe</option>
            <option value="135">matiz</option>
            <option value="136">megane</option>
            <option value="137">meriva</option>
            <option value="138">micra</option>
            <option value="139">mii</option>
            <option value="140">modus</option>
            <option value="141">mondeo</option>
            <option value="142">musa</option>
            <option value="143">mustang</option>
            <option value="144">mx_reihe</option>
            <option value="145">navara</option>
            <option value="146">niva</option>
            <option value="147">note</option>
            <option value="148">octavia</option>
            <option value="149">omega</option>
            <option value="150">one</option>
            <option value="151">outlander</option>
            <option value="152">pajero</option>
            <option value="153">panda</option>
            <option value="154">passat</option>
            <option value="155">phaeton</option>
            <option value="156">picanto</option>
            <option value="157">polo</option>
            <option value="158">primera</option>
            <option value="159">ptcruiser</option>
            <option value="160">punto</option>
            <option value="161">q3</option>
            <option value="162">q5</option>
            <option value="163">q7</option>
            <option value="164">qashqai</option>
            <option value="165">r19</option>
            <option value="166">range_rover</option>
            <option value="167">range_rover_evoque</option>
            <option value="168">range_rover_sport</option>
            <option value="169">rav</option>
            <option value="170">rio</option>
            <option value="171">roadster</option>
            <option value="172">roomster</option>
            <option value="173">rx_reihe</option>
            <option value="174">s60</option>
            <option value="175">s_klasse</option>
            <option value="176">s_max</option>
            <option value="177">s_type</option>
            <option value="178">sandero</option>
            <option value="179">santa</option>
            <option value="180">scenic</option>
            <option value="181">scirocco</option>
            <option value="182">seicento</option>
            <option value="183">serie_2</option>
            <option value="184">sharan</option>
            <option value="185">signum</option>
            <option value="186">sirion</option>
            <option value="187">sl</option>
            <option value="188">slk</option>
            <option value="189">sorento</option>
            <option value="190">spark</option>
            <option value="191">spider</option>
            <option value="192">sportage</option>
            <option value="193">sprinter</option>
            <option value="194">stilo</option>
            <option value="195">superb</option>
            <option value="196">swift</option>
            <option value="197">tigra</option>
            <option value="198">tiguan</option>
            <option value="199">toledo</option>
            <option value="200">touareg</option>
            <option value="201">touran</option>
            <option value="202">transit</option>
            <option value="203">transporter</option>
            <option value="204">tt</option>
            <option value="205">tucson</option>
            <option value="206">twingo</option>
            <option value="207">up</option>
            <option value="208">v40</option>
            <option value="209">v50</option>
            <option value="210">v60</option>
            <option value="211">v70</option>
            <option value="212">v_klasse</option>
            <option value="213">vectra</option>
            <option value="214">verso</option>
            <option value="215">viano</option>
            <option value="216">vito</option>
            <option value="217">vivaro</option>
            <option value="218">voyager</option>
            <option value="219">wrangler</option>
            <option value="220">x_reihe</option>
            <option value="221">x_trail</option>
            <option value="222">x_type</option>
            <option value="223">xc_reihe</option>
            <option value="224">yaris</option>
            <option value="225">yeti</option>
            <option value="226">ypsilon</option>
            <option value="227">z_reihe</option>
            <option value="228">zafira</option>
          </select>

        </div>
        <div class="form-group">
          <label for="length1">Year Of Reg (AD):</label>
          <input type="number" id="length1" v-model="carData.YearOfReg" min="10" max="40" step="0.1" required />
        </div>
        <div class="form-group">
          <label for="length2">GearBox:</label>
          <select id="gearbox" v-model="carData.GearBox" required>
            <option value="-1">Choose GearBox</option>
    <option value="0">Automatik</option>
    <option value="1">Manuell</option>
  </select>
        </div>
        <div class="form-group">
          <label for="length3">Power Ps:</label>
          <input type="number" id="length3" v-model="carData.PowerPs" min="10" max="40" step="0.1" required />
        </div>
        <div class="form-group">
          <label for="height">Fuel Type:</label>
          <select id="fuelType" v-model="carData.FuelType" required>
            <option value="-1">Choose Fuel Type</option>
        <option value="0">Andere</option>
    <option value="1">Benzin</option>
    <option value="2">CNG</option>
    <option value="3">Diesel</option>
    <option value="4">Hybrid</option>
    <option value="5">LPG</option>
  </select>
        </div>
        
      </div>
      <button @click="predictVehicleType" class="predict-button">Predict Vehicle Type</button>
      <transition name="fade">
        <div v-if="resMessage !== null" class="result">
          <h3>Predicted Vehicle Type:</h3>
          <h1 class="type" style="color: #eba36c;">{{ resMessage  }}</h1>
        </div>
      </transition>
    </div>
  </v-container>
</template>
<style scoped>
html,
body {
  background-color: #b91c1c;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 2px solid #b91c1c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 73px;
}

.title {
  text-align: center;
  color: #b91c1c;
  margin-bottom: 20px;
}

/* ... (rest of your existing styles) ... */

.result {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  /* Adjust background color as needed */
  color: #b91c1c;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

label {
  font-weight: bold;
  display: block;
}

input,
select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button.predict-button {
  padding: 12px 24px;
  background-color: #a52204;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-bottom: 20px;
}

button.predict-button:hover {
  background-color: #b91c1c;
}

.result {
  text-align: center;
  padding: 20px;
  background-color: #a52204;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result h2 {
  margin-bottom: 10px;
}

.result p.weight {
  font-size: 24px;
  border: 2px solid #b91c1c;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active in <2.1.8 */
  {
  opacity: 0;
}

.fullscreen-container {
  background-image: url('car6.gif');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set container height to fill the entire viewport */
}
</style>
